.card {
  position: relative;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: #2b2b2b;
  text-align: center;
  opacity: 0;
  transform: perspective(600px) rotateY(90deg);
  transition: opacity 0.5s, transform 0.5s;
  transition-delay: 0s;
  overflow: hidden;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.5s;
  z-index: 2;
}

.card.animate {
  opacity: 1;
  transform: perspective(600px) rotateY(0deg);
  transition-delay:0.3s;
}

.card:hover::before {
  background: rgba(0, 0, 0, 0);
}

@keyframes enter {
  0% {
    transform: perspective(700px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(700px) rotateY(20deg);
    opacity: 1;
  }
}

.card {
  &.animate {
    animation: enter 1s ease-out forwards;
  }
}