@import url('https://fonts.googleapis.com/css2?family=Doto&family=M+PLUS+Code+Latin&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'M PLUS Code Latin', monospace;
    font-display: swap;

    h1 {
        font-family: 'Doto', monospace;
    }
}