
$font-color: #fff;
$font-family: monospace;
$font-size: 16px;
$terminal-height: 30%;


@keyframes terminalOpen {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: $terminal-height;
    }
}

.terminal {
    position: absolute;
    bottom: 0; // Move terminal to the bottom
    left: 50%; // Center terminal horizontally
    transform: translateX(-50%); // Adjust for terminal width
    width: 35%;
    height: $terminal-height;
    background-color: rgba(0, 0, 0, 0.7);
    color: $font-color;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: $font-family;
    font-size: $font-size;
    border-radius: 10px;
    animation: terminalOpen 1s ease-out;

    .input {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .prompt {
        color: #0f0;
    }

    .command {
        background-color: transparent;
        border: none;
        outline: none;
        color: $font-color;
        font-family: $font-family;
        font-size: $font-size;
        margin-left: 5px;
    }
}